body{
    color:#6c757d;
    background-color: #f5f5f5;
}
h1{
    color:#1fab89;
}

.jumbotron{
    background-color: #d7fbe8;
}
.badge, .thead{
    background-color: #1fab89;
}
.thead{
    color:white;
}
tbody> tr:nth-child(even){
    background-color: #9df3c4;
}
td:nth-child(5){
    color:#d92027;
}
td:nth-child(4){
    color:#01a9b4;
}

@media screen and (max-width: 600px) {
    body{
        font-size: 0.625rem;
        padding:0.5rem;
    }
    .display-3, .display-4{
        font-size:2rem;
    }
    .jumbotron{
        padding: 1rem 1rem;
        margin-bottom: 1.5rem;
    }
    .blockquote-footer{
        font-size:60%;
    }
    .table th, .table td{
        padding: 0.5rem;
    }
}